Package: HeaderTool-1.5-x86
Version: 1.5
Section: utils
Priority: optional
Architecture: i386
Maintainer: Brette <brette.allen05@gmail.com>
Description: Headers NES ROMs
Homepage: https://discord.gg/EwfEWcVtzp